deployment/ansible/inventories/production/hosts
client.conf
perfchat_client
perfchat_server
server.conf
deployment/terraform/.terraform/
deployment/terraform/terraform.tfstate
deployment/terraform/terraform.tfstate.backup