[Unit]
Description=perfchat_server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/perfchat_server -conf /etc/server.conf
Restart=always
RestartSec=10
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target