[Unit]
Description=perfchat_client
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/perfchat_client -conf /etc/client.conf
Restart=always
RestartSec=10
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target